* {
    background-color: #f5f6fa;
}

form {
    background-color: #f5f6fa;
}

.parent {
    padding-left: 36vw;
    margin-top: 8vh;
}

.helpText{
    color: gray;
}
.heading {
    padding-right: 10vw;
}